*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-form{
    width: 386px;
    margin-left: 50%;
    margin-top: 2%;
    transform: translateX(-25%);
}
.main-form *{
    padding: 1.2%;
}
/* .main-info .kod{
    margin-left: 50%;
} */
 /* #checkboxesBio label {
    float: left;
  }*/
  #checkboxesBio ul { 
    margin: 1%;
    list-style: none;
    
  } 